---
import { Picture, Image } from "astro:assets";
import Card from "@components/card.astro";
// import IntegrationImg from "../assets/integrations.svg?url";
import mapaoao from "../assets/features/mapa-oao.png";
import amcrhelp from "../assets/features/amcr-help.png";
import oznameni from "../assets/features/oznameni.png";
import api from "../assets/features/api.png";
---

<div class="mt-24">
  <h2 class="text-4xl lg:text-4xl font-bold lg:tracking-tight">
    Další součásti <span class="text-amcrbrown-900">AMČR</span> a související služby projektu <span class="text-amcrbrown-900">AIS CR</span>
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Mimo mapu máme i mnoho dalšího
  </p>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-5 mt-16 gap-10">
  <Card class="lg:col-span-2" color="dablue" >
    <Fragment slot="image">
      <Picture
      src={mapaoao}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-full w-full object-contain"
      loading="lazy"
      />
    </Fragment>
    <!-- <span slot="badge">Mapa OAO</span> -->
    <span slot="title">Mapa archeologických organizací</span>
    <span slot="desc">
      Vyhledejte si archeologické organizace působící ve Vašem okolí a zjistěte více o organizacích oprávněných provádět archeologické výzkumy
    </span>
  </Card>
  <Card class="lg:col-span-3" color="amcrbrown">
    <Fragment slot="image">
      <Picture
      src={oznameni}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-full w-full object-contain"
      loading="lazy"
      />
    </Fragment>
    <!-- <span slot="badge">AMČR</span> -->
    <span slot="title">Oznámení o stavebním záměru</span>
    <span slot="desc">
      Oznamte stavební či jinou činnost na území s archeologickými nálezy jednoduše prostřednictvím webového formuláře a splňte tak povinnost dle § 22 odst. 2 zákona č. 20/1987 Sb. o státní památkové péči pro Váš záměr
    </span>
  </Card>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-5 mt-16 gap-10">
  <Card class="lg:col-span-3" color="amcrbrown">
    <Fragment slot="image">
      <Picture
      src={amcrhelp}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-full w-full object-contain"
      loading="lazy"
      />
    </Fragment>
    <!-- <span slot="badge">AMČR</span> -->
    <span slot="title">Dokumentace AMČR</span>
    <span slot="desc">Uživatelská dokumentace a napověda, terminologie, popis fungování systému jako celku i jeho jednotlivých částí.</span>
  </Card>
    
  <Card class="lg:col-span-2" color="dablue" size="sm">
    <Fragment slot="image">
      <Picture
      src={api}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-full w-full object-contain"
      loading="lazy"
      />
    </Fragment>
    <!-- <span slot="badge">API</span> -->
    <span slot="title">AMČR OAI-PMH API</span>
    <span slot="desc">Získejte data AMČR ve strojově zpracovatelné podobě pomocí OAI-PMH API.</span>
  </Card>
      
  <!-- <Card size="sm"> -->
    <!-- <Fragment slot="image"> -->
      <!-- // svg image. cannot use <picture/> as of now -->
      <!-- <Image
      rc={FeatureImgOne}
      alt="Feature image"
      width="909"
      height="823"
      class="h-full w-full object-contain"
      loading="lazy"
      /> -->
    <!-- </Fragment>
    <span slot="badge">Další</span>
    <span slot="title">8+ aplikací</span>
    <span slot="desc">
      prozkoumej další služby AISu.</span>
  </Card> -->
</div>
